/* *{
    border: 1px solid red;
} */

* {
    /* padding: 0;
    margin: 0; */
    font-family: 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: black;

    :hover{
        text-decoration: underline;
    }
}

.containerWrapper {
    margin: 1% 5%;
}

.search {
    >input {
        height: 40px;
    }
}

.container {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.cardContainer {
    padding: 1%;
    background-color: rgba(226, 226, 233, 0.773);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

    min-height: 300px;
    width: 200px;
}

.cardImg {
    background-color: rgb(212, 212, 220);
    ;
    height: 130px;
    width: 100%;
    border-radius: 10px;
}


.navbar {
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    height: 3vw;

    >ul {
        display: flex;
        gap: 15%;
        list-style: none;
        align-items: center;
        width: 40%;
    }
}

.loginBtn {
    padding: 35%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    height: 100%;
}

.actionBtn {
    padding: 12px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    height: 100%;
}

.filter {
    display: flex;
    gap: 20px;
}

.search {
    display: flex;
    justify-content: center;
}