/* *{
    border: 1px solid red;
} */

* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.containerWrapper {
    margin: 1% 5%;
}

.search {
    >input {
        height: 40px;
    }
}

.container {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.cardContainer {
    padding: 1% 2%;
    width: fit-content;
    background-color: bisque;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100px;
    min-width: 200px;
}

.navbar {
    margin: 1% 5%;
    display: flex;
    justify-content: flex-end;
}

.loginBtn {
    padding: 1%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.filter{
    display: flex;
    gap: 20px;
}

.search{
    display: flex;
    justify-content: center;
}